@layout('layouts.base')

@section('content')
    <h3>Page Not Found</h3><hr>
        <div class="card text-white bg-dark mb-3">
            <div class="card-header"></div>
            <div class="card-body">
              <h4 class="card-title">404, Page Not Found!</h4>
            </div>
        </div>
@endsection