@layout('layouts.base')

@section('content')
  <h2>Suur, an idea keeper App</h2><hr>
  <div class="jumbotron text-center">
    <h1 class="display-3">{{ title }}</h1>
    <p class="lead">Save Your Thoughts and Ideas</p>
    <a href="/ideas/create" class="btn btn-secondary btn-lg">Add Your Ideas</a>
  </div>
@endsection